/CleanCompustatFundQuarterly/
/CleanSentiment/
/CleanZacksEarnings/
/DirtyCompustatFundQuarterly/
/DirtySentiment/
/DirtyZacksEarnings/
/Edgar filings_full text/
/Master Indexes/
/TrainData/
/DirtyStockPrice/
/CleanStockPrice/
/test.py
/TrainDataLSTM/
